<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a aria-label="Espacio" target="_blank"  rel="noopener" title="Espacio">
        <svg id="boton-Registro" heigh="24" width="24"  viewBox="0 0 24 24" fill="#fff"></svg>
      </a>
    
      <span>Bienvendio</span>
        <div class="spacer"></div>
        <a aria-label="Login" target="_blank" rel="noopener" title="Registrarse">
          <svg heigh="24" width="24"  viewBox="0 0 24 24" fill="#fff"></svg>
          <button class="boton_personalizado">Iniciar Sesion</button>
        </a>
    
        <a aria-label="Registro" target="_blank"  rel="noopener" title="Registrarse">
          <svg id="boton-Registro" heigh="24" width="24"  viewBox="0 0 24 24" fill="#fff"></svg>
          <button class="boton_personalizado">Registrarse</button>
        </a>
    
        <a aria-label="Espacio" target="_blank"  rel="noopener" title="Espacio">
          <svg id="boton-Registro" heigh="24" width="24"  viewBox="0 0 24 24" fill="#fff"></svg>
        </a>
</div>

  