<ul class="navbar-nav" *ngIf="mostrarCompra">
  <br>
  <div class="card px-4">
    <p class="h8 py-3">Detalles de compra</p>
    <div class="row gx-3">
      <div class="col-12">
        <div class="d-flex flex-column">
          <p class="text mb-1">Nombre</p> <input required class="form-control mb-3" id="txtNombreT" name="txtNombreT" type="text" placeholder="Nombre" [(ngModel)]="auxP.nombre"/>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex flex-column">
          <p class="text mb-1">Número de tarjeta</p> <input required class="form-control mb-3" type="text" placeholder="1234 5678 435678" [(ngModel)]="auxP.tarjeta" >
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <p class="text mb-1">Fecha de expiración</p> <input required class="form-control mb-3" type="text" placeholder="MM/YYYY" [(ngModel)]="auxP.exp" >
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <p class="text mb-1">CVV/CVC</p> <input required maxlength="3"  minlength="3" class="form-control mb-3 pt-2 " type="password" placeholder="***"  [(ngModel)]="auxP.cvv">
        </div>
      </div>
      <div class="col-12">
        <div class="btn btn-primary mb-3" (click)="comprarJuego()"> <span class="ps-3">Comprar por: ${{juegoSelected.precio}} COP</span> <span class="fas fa-arrow-right"></span>
        </div>
      </div>
      <div class="col-12">
        <div class="btn btn-primary mb-3" (click)="cancelarCompra()"> <span class="ps-3">Cancelar</span> <span class="fas fa-arrow-right"></span>
        </div>
      </div>
    </div>
  </div>
</ul>
<ul *ngIf="compraRealizada">
  <h1> Gracias por su compra!</h1>
</ul>
<ul  class="navbar-nav" *ngIf="esAdmin">
  <div class="flex-column">
    <button class="btn-primary">Añadir Juego</button>
    <button class="btn-primary">Reporte de Ventas</button>
  </div>
  <!-- TODO: Actualizar ruta para pantalla de CRUD de juego-->
</ul>
<div class="container">
  <div class="row">
    
    <div class="col-md-3 mx-auto my-5" *ngFor="let juego of _tiendaService.juegos">
      <div class="card" style="width: 18rem;">
        <img src={{juego.dirImgPreviw}} class="card-img-top" alt={{juego.nombre}}>
        <div class="card-body">
          <h5 class="card-title">{{juego.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">${{juego.precio}}</h6>
          <p class="card-text">Desarrollado por {{juego.nombreEstudio}}</p>
          <p class="card-text">{{juego.descripcion}}</p>
          <ul class="card-link" *ngIf="!esAdmin">
            <input type="button" class="btn-primary" value="Comprar" (click)="seleccionarJuego(juego.id)">
          </ul>
          <ul  class="navbar-nav" *ngIf="esAdmin">
            <button class="btn-primary">Modificar</button>
            <!-- TODO: Actualizar ruta para pantalla de CRUD de juego-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>